 .container {
    width: 100%;
    background: #F6F8FA;
    margin: 0 auto;
    margin-bottom: 50px;
    /* max-width: 100%; */
    /* margin-top: 50px; */
}

.main-card {
    width: 100%;
    background-color: none;
    gap: 10px;
    padding: 0  150px 150px 150px;
    margin-top: -50px;
    margin-left: 20px;
}
/* .slick-slider{
    width: 100%;
} */


.home-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    text-align: center;
}
.home-title p{
    margin-top: -5px;
}

.card {
    background: #FFFFFF;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 90%;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
}
.slick-prev, .slick-next {
    display: block !important; 
    width: 40px;
  
    border-radius: 17px;
    z-index: 20;
    top: 50%;

    position: absolute;
  }

.slick-prev:before, .slick-next:before {
    color: black;
    background-color: lightgray; 
    border-radius: 17px;
    width: 40px;
    height: 40px;
    padding: 10px 15px;
}

  
  .slick-prev {
    left: -5px; 
    margin-left: 50px;
  
  }
  
  .slick-next {
    right: -5px;
    margin-right: 80px; 
  }
  .slick-prev:hover, .slick-next:hover {
  background-color: gray;
  color: black;
}
.slick-dots {
    position: absolute;
 
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 0px; 
    top: 70%;
    right: -1%;
    list-style: none;
    padding: 10px;
  }
  
  .slick-dots li.slick-active button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
   
    border:1px solid gray;
  }
  
  .slick-dots li.slick-inactive button{
   border: none;
  }
  .slick-dots li button:hover{
   background-color: gray;
   border-radius: 50%;
  }

.card-content-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-cost {
    color: red;
}

.card-location {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.card-content-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px; 
}

.card-content-icons p {
    display: flex;
    align-items: center;
    margin-right: 10px; 
}

.container2 {
    width: 100%;
    background: #FFFFFF;
    margin: 0 auto;
    max-width: 100%;
     margin-bottom: 50px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin-top: -40px;
  
    
}
.container2-2 {
    width: 100%;
    background: #FFFFFF;
    margin: 0 auto;
    max-width: 100%;
     margin-bottom: 50px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin-top: -80px;
  
    
}
.main-container2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    gap: 20px;
    margin-top: -40px;
    margin-bottom: 30px;
}

.top-links, 
.bottom-links {
    display: flex;

    justify-content: center; 
    align-items: center;     
    gap: 20px;               
    width: 100%;
}

.link-image {
    width: 50%; 
    max-width: 250px; 
    height: auto;
}
.link-image1 {
    width: 50%; 
    max-width: 250px; 
    height: auto;
}

.link-image2 {
    width: 65%;
    max-width: 520px;
    height: auto;
}
.top-links-side{
    display: flex;
    gap: 20px;
}

.container3 {
    width: 95%;
    background: #E7C873;
    margin: 50px auto;
    max-width: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
     padding-bottom: 100px;
    
}
.icon-container{
    display: flex;
 
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    padding: 100px;
    gap: 50px;
    margin: -100px 0;
}
.icon-container p{
    font-size: 13px;
}
.icon-container h5{
    font-size: 18px;
    margin-bottom: 0;
}
.icon-image-card{
    width: 25%;
 
 text-align: center;
}
.image-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main-container3 {
    width: 100%;
    display: flex;
    margin-top: -40px;
    align-items: center;   
    justify-content: center;
    gap: 20px;
}
.image4{
    width: 100%;
    max-width: 520px;
    height: auto;

}
.image4-img{
    width: 100%;
    border-radius: 10px;
}
.container4{
    width: 95%;
    background: #1F4B43;
    margin: 50px auto;
    max-width: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
  
}
.container4-top-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    width: 60%;
    padding-bottom: 1%;

}
.container4-side{
    width: 45%;
  color: #FFFFFF;
  font-family: Roboto;
  margin-right: 10%;
}
.container4-side button{
 background: #E7C873;
 padding: 10px;
 border-radius: 10px; 
 border: #E7C873;   

}
.clienttag{
    position: absolute;
     top: 597%;
    left: 23%;
    width: 8%; 
}
.image8{

    width: 65%;
    height: auto;
}
.container4-bottom{

        display: flex;
        justify-content:space-around;
        align-items: center;
        gap: 150px;
        text-align: center;
        margin-bottom: 20px;
}
.container4-bottom h2{
    color: #E7C873;
    margin-bottom: -15px;
}
.container4-bottom h6{
    color: #FFFFFF;
}
.container5{
    width: 100%;
    background: #FFFFFF;
    margin: 0 auto;
    max-width: 100%;

    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.container5-top{
    display: flex;
    width: 60%;
    gap: 200px;
}
.container5-flex{
    display: flex;
    gap: 20px;
    
}
.container5-top-side{
    width: 10%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    text-align: left;
    gap: 15px;
 
}
.container5-imgdiv{
    margin-top: 20px;
}
.container5-div{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.container5-bottom{
    text-align: center;
    border-top: 1px solid lightgray;
    margin: 50px 0;
}
.container5-bottom-images{
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
}
.container5-p{
    line-height: 1.2;
    /* text-align: flex-start; */
    display: inline;
    white-space: nowrap;
    margin-top: 100px;
}
.container5-div h6{
 margin-top:5px ;

}

@media screen and (max-width: 1000px) {
    .main-card {
        flex-direction: column; 
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin-bottom: 30px;
    }
   
    .top-links, 
    .bottom-links {
        flex-direction: column; 
        justify-content: center;
        align-items: center; 
        gap: 10px; 
        width: 100%;
    }
    .link-image2 {
        width: 100%;
       
        height: auto;
    }
    .icon-container{
        display: flex;
        flex-direction: column;
        
    }
    .container3{
        width: 60%;
    }
    .main-container3 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;    
        justify-content: center;
        gap: 20px;
    }
    .container4-top-flex{

        flex-direction: column;
    }
    .container4-side{
        width: 100%;
    }
    .container4{
        width: 70%;
       
        object-fit: cover;
    }
    .container4-bottom{
        gap: 10px;

    }
    .container4-bottom h1{
       font-size: 10px;
    }
    .container5-top{
        flex-direction: column;
        width: 100%;
        gap: 10px;
      
    }
    .icon-image-card{
        width: 100%;
    }
    .container5-bottom-images{
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .container5{
        width: 65%;
       
    }
    .container{
        margin-bottom: 30px;
    }
    .container2{
        margin-top: 0;
    }
    .slick-dots{
        top: 100%;
    }
} 



@media screen and (max-width: 600px) {
    .main-card {
        flex-direction: column; 
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin-bottom: 30px;
        margin-left: 20px;
    }
    .header-icon{
        width: 20%;
    }
    .slick-prev{
        left: -10px;
    }
    .slick-next{
        margin-right: 90px;
    }
    .link-image{
        width: 47%;
    }
    .link-image1{
        width: 47%;
    }
   
    .top-links, 
    .bottom-links {
        flex-direction: column; 
        justify-content: center;
        align-items: center; 
        gap: 5px; 
        width: 95%;
    }
    .link-image2 {
        width: 100%;
       
        height: auto;
    }
    .icon-container{
        display: flex;
        flex-direction: column;
        
    }
    .container3{
        width: 75%;
    }
    .main-container3 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;    
        justify-content: center;
        gap: 20px;
    }
    .container4-top-flex{

        flex-direction: column;
    }
    .container4-side{
        width: 100%;
    }
    .container4{
        width: 90%;
       
        object-fit: cover;
    }
    .container4-bottom{
        gap: 10px;

    }
    .container4-bottom h1{
       font-size: 10px;
    }
    .container5-top{
        flex-direction: column;
        width: 100%;
        gap: 10px;
      
    }
    .icon-image-card{
        width: 200%;
    }
    .container5-bottom-images{
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .container5{
        width: 70%;
       
    }
    .clienttag {
        position: absolute;
        top: 790%;
        left: 24%;
        width: 8%;
    }
    .slick-dots{
        top: 100%;
    }
    .top-links-side{
        width: 100%;
    }
    .image4-img{
        width: 95%;
    }
    .image-links{
        width: 95%;
    }
    .container7-bottom button {
        width: 100%;
    }
} 


