.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative; 
}


.homepage {
  width: 100%;           
  height: 100%;        
  object-fit: cover;     
}


.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: #ffffff;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left:20px;
}

.header-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-grow: 1; 
  min-width: 0; 
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding-right: 20px;
}

.header-right img {
  max-width: 30px; 
  height: auto;
}

.header-right button {
  background: none;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 8px;
  border-radius: 20px;
  cursor: pointer;
}

.header-link {
  display: flex;
  align-items: center;
}


.burger-icon {
  display: none; 
  font-size: 24px;
  cursor: pointer;
  padding-right: 20px;
}


.header-dropdown {
  display: none; 
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  z-index: 10; 
  position: fixed; 
  top: 0;
  left: 0; 
  width: 100vw; 
  height: 100vh; 
  color: black;
}
.header-link-dropdown{
  display: flex;
  margin: 30px 0;
  width: 80vw;
  justify-content: space-between;
}
.dropdown-bottom{
  display: flex ;
  flex-direction: column;
  gap: 20px;
}
.dropdown-bottom img{
 width: 40px;
}
.dropdown-bottom button{
  width: 50%;
  border-radius: 20px;
  padding: 10px;
}
.header-dropdown-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin:  10px 20px;

}
.header-dropdown-item{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
}
.header-left-dropdown {
  display: flex;
  align-items: center;
  gap: 10px;
 
}
.crossicon{
  width: 30px;
  height: 30px;
}


@media screen and (max-width: 1000px) {
  .header-middle, .header-right {
    display: none; 
  }

  .burger-icon {
    display: block;
  }

  .header-dropdown {
    display: flex; 
  }
  .header-dropdown {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black; 
    position: fixed;
   
    color: white;
    
   
    width: 100vw;
    height: 100vh;
     
    
    z-index: 100; 
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: 10px;
    gap: 10px; 
  }

  .header-left h3 {
    font-size: 16px;
  }

  .header-icon {
    width: 25px; 
  }

  .header-right {
    gap: 5px; 
  }

  .header-right p {
    display: none; 
  }

  .header-right img {
    max-width: 25px;
  }

  .header-right button {
    display: none; 
  }

  .homepage {
    height: auto; 
    max-height: 100vh;    
    object-fit: contain; 
  }
  .header-dropdown {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:black; 
    position: fixed;
    color: white;
    width: 100vw;
    z-index: 100; 
  }
}
